:root {
    --white: '#FFFFFF';
    --black: '#000000';
    --light: '#E2F7FF';
    --mid: '#B2EAFF';
    --dark: '#283137';
    --primary: '#00AEEF';
    --transparent-black: '#00000014';
    --highlight: '#71D8FF';
    --gray-light: '#F3F3F3';
    --gray-dark: '#101912';
    --accent: '#0089BC';
    --navy: '#033244';
    --forest-green: '#2C3A2F';
    --ocean-blue: '#005271';
    --gray: '#676767';
    --transparent-gray: '#00000029';
    --light-gray: '#E1E1E1';
}

.white {
    color: var(--white);
}

.black {
    color: var(--black);
}

.light {
    color: var(--light);
}

.mid {
    color: var(--mid);
}

.dark {
    color: var(--dark);
}

.primary {
    color: var(--primary);
}

.transparent-black {
    color: var(--transparent-black);
}

.highlight {
    color: var(--highlight);
}

.gray-light {
    color: var(--gray-light);
}

.gray-dark {
    color: var(--gray-dark);
}

.accent {
    color: var(--accent);
}

.navy {
    color: var(--navy);
}

.forest-green {
    color: var(--forest-green);
}

.ocean-blue {
    color: var(--ocean-blue);
}

.gray {
    color: var(--gray);
}

.transparent-gray {
    color: var(--transparent-gray);
}

.light-gray {
    color: var(--light-gray);
}
