.font-roboto-slab-bold-18px {
    font: normal normal bold 18px/24px Roboto Slab;
}

.font-roboto-slab-ultra-bold-16px {
    font: normal normal 900 16px/21px Roboto Slab;
}

.font-roboto-slab-ultra-bold-14px {
    font: normal normal 900 14px/19px Roboto Slab;
}

.font-roboto-slab-ultra-bold-18px {
    font: normal normal 900 18px/24px Roboto Slab;
}

.font-roboto-slab-ultra-bold-20px {
    font: normal normal 900 20px/26px Roboto Slab;
}

.font-roboto-slab-ultra-bold-32px {
    font: normal normal 900 32px/38px Roboto Slab;
}

.font-roboto-slab-ultra-bold-32px-43px {
    font: normal normal 900 32px/43px Roboto Slab;
}

.font-roboto-slab-medium-20px {
    font: normal normal 500 20px/26px Roboto Slab;
}

.font-roboto-slab-medium-14px {
    font: normal normal 500 14px/19px Roboto Slab;
}

.font-roboto-slab-medium-15px {
    font: normal normal 500 15px/20px Roboto Slab;
}

.font-roboto-slab-light-16px {
    font: normal normal 300 16px/21px Roboto Slab;
}

.font-roboto-slab-light-15px {
    font: normal normal 300 15px/24px Roboto Slab;
}

.font-archer-pro-normal-14px {
    font: normal normal normal 14px/16px ArcherPro;
}

.font-archer-pro-bold-12px {
    font: normal normal bold 12px/15px ArcherProBold;
}

.font-sora-800 {
    font: normal normal 800 18px/24px Sora;
}

.font-sora-normal {
    font: normal normal normal 14px/18px Sora;
}

.font-sora-bold {
    font: normal normal bold 14px/18px Sora;
}