.font-roboto-slab-bold-18px {
    font: normal normal bold 1.8rem/2.4rem Roboto Slab;
}

.font-roboto-slab-ultra-bold-16px {
    font: normal normal 900 1.6rem/2.1rem Roboto Slab;
}

.font-roboto-slab-ultra-bold-14px {
    font: normal normal 900 1.4rem/1.9rem Roboto Slab;
}

.font-roboto-slab-ultra-bold-18px {
    font: normal normal 900 1.8rem/2.4rem Roboto Slab;
}

.font-roboto-slab-ultra-bold-20px {
    font: normal normal 900 2rem/2.6rem Roboto Slab;
}

.font-roboto-slab-ultra-bold-32px {
    font: normal normal 900 3.2rem/3.8rem Roboto Slab;
}

.font-roboto-slab-ultra-bold-32px-43px {
    font: normal normal 900 3.2rem/4.3rem Roboto Slab;
}

.font-roboto-slab-medium-20px {
    font: normal normal 500 2rem/2.6rem Roboto Slab;
}

.font-roboto-slab-medium-14px {
    font: normal normal 500 1.4rem/1.9rem Roboto Slab;
}

.font-roboto-slab-medium-15px {
    font: normal normal 500 1.5rem/2rem Roboto Slab;
}

.font-roboto-slab-light-16px {
    font: normal normal 300 1.6rem/2.1rem Roboto Slab;
}

.font-roboto-slab-light-15px {
    font: normal normal 300 1.5rem/2.4rem Roboto Slab;
}

.font-archer-pro-normal-14px {
    font: normal normal normal 1.4rem/1.6rem ArcherPro;
}

.font-archer-pro-bold-14px {
    font: normal normal bold 1.4rem/1.6rem ArcherPro;
}

.font-archer-pro-bold-12px {
    font: normal normal bold 1.2rem/1.5rem ArcherProBold;
}

.font-sora-normal-12px {
    font: normal normal 800 12px/18px Sora;
}