.contact {
    background-color: #F3F3F3;
}

.contact-container {
    display: grid;
    grid-template-columns: 312px 1fr;
    gap: 100px;
    margin: 0 112px;
    padding: 42px 0;
    margin-top: 80px;
}

.contact-container .content h2 {
    width: 312px;
    letter-spacing: 0px;
    color: #033244;
    opacity: 1;
    margin-bottom: 16px;
}

.contact-container .content p {
    width: 312px;
    letter-spacing: 0px;
    color: #0089BC;
    opacity: 1;
}

.contact-container .form div {
    display: flex;
    flex-direction: column;
    margin-bottom: 21px;
    gap: 15px;
}

.contact .form div input {
    padding: 10px;
}

.contact .form div input::placeholder {
    letter-spacing: 0px;
    color: #005271;
    opacity: 1;
}

.contact .form button {
    padding: 10px 35px;
    letter-spacing: 0px;
    color: #033244;
    text-transform: uppercase;
    background: #71D8FF;
    border: none;
    opacity: 1;
  }