.footer-bg {
    padding: 49px 37px 46px 37px;
    background-color: #283137;
    border-top: 5px solid #0089BC;
}

.footer-content {
    display: flex;
    padding-bottom: 134px;
    border-bottom: 2px solid #E1E1E1;
}

.footer-content .footer-logo {
    width: 361px;
}

.footer-content .inner-links {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.footer-content .nerdweb h2, .footer-content .ajuda h2, .footer-content .atendimento h2, .footer-content .horario h2{
    color: #E2F7FF;
}

.footer-content .horario h2 {
    width: max-content;
}

.footer-content div ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

.footer-content div ul li {
    letter-spacing: 0px;
    color: #00AEEF;
    transition: all 0.2s;
}

.footer-content div ul li:hover {
    filter: brightness(1.15);
}

.footer-content .horario p {
    margin-top: 22px;
    width: 164px;
    letter-spacing: 0px;
    color: #B2EAFF;
}

.copyright {
    display: flex;
    justify-content: space-between;
}

.copyright p {
    margin-top: 20px;
    letter-spacing: 0px;
    color: #E1E1E1;
}

.copyright .copyright-social {
    margin-top: 20px;
}

.copyright .copyright-social h2 {
    letter-spacing: 0px;
    color: #71D8FF;
    margin-bottom: 15px;
    width: max-content;
}

.copyright .copyright-social .copyright-social-images {
    display: flex;
    gap: 28px
}

.copyright .copyright-social .copyright-social-images i {
    font-size: 30px;
    color: #71D8FF;
}

@media(max-width: 1200px) {
    .footer-content .footer-logo {
        width: 200px;
    }
}

@media(max-width: 1070px) {
    .footer-content .inner-links {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 32px 0;
    }
}

@media(max-width: 850px) {
    .footer-content .inner-links {
        grid-template-columns: 1fr 1fr;
        gap: 32px 0;
    }
}

@media(max-width: 800px) {
    .copyright p {
        width: 40ch;
    }
}

@media(max-width: 700px) {
    .footer-content {
        display: block;
        padding-bottom: 32px;
    }

    .footer-content .footer-logo {
        margin-bottom: 25px;
    }

    .footer-content .inner-links {
        grid-template-columns: 1fr;
    }

    .copyright {
        display: flex;
        flex-direction: column;
    }

    .copyright p {
        order: 1;
        margin-top: 32px;
        width: 100%;
    }

    .copyright .copyright-social {
        background-color: black;
        order: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 18px 14px;
    }
}

@media(max-width: 390px) {
    .copyright .copyright-social h2 {
        font: normal normal 500 18px/20px Roboto Slab;
    }

    .copyright .copyright-social .copyright-social-images i {
        font-size: 24px;
    }
}

@media(max-width: 360px) {
    .copyright .copyright-social h2 {
        width: 100%;
        text-align: center;
        font: normal normal 500 14px/20px Roboto Slab;
    }

    .copyright .copyright-social .copyright-social-images {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 16px;
    }

    .footer-content .horario h2 {
        width: 100%;
    }
}