.footer-bg {
    background-color: #283137;
    padding: 49px 0 46px 0;
    margin-top: 105px;
}

.footer {
    display: grid;
    grid-template-columns: 361px 1fr 1fr 1fr 1fr;
    padding-bottom: 134px;
    border-bottom: 2px solid #E1E1E1;
}

.footer .nerdweb h2, .footer .ajuda h2, .footer .atendimento h2, .footer .horario h2{
    color: #E2F7FF;
    font-size: 18px;
    font-weight: 900;
    text-transform: uppercase;
}

.footer .horario h2 {
    width: max-content;
}

.footer div ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

.footer div ul li {
    font-size: 14px;
    color: #00AEEF;
    font-weight: normal;
}

.footer .horario p {
    margin-top: 22px;
    width: 163px;
    color: #B2EAFF;
    font-size: 14px;
}

.copyright {
    display: flex;
    justify-content: space-between;
}

.copyright p {
    margin-top: 20px;
    font-size: 14px;
    color: #E1E1E1;
}

.copyright .social {
    margin-top: 20px;
}

.copyright .social h2 {
    font-size: 20px;
    color: #71D8FF;
    margin-bottom: 15px;
}

.copyright .social .social-images {
    display: flex;
    gap: 28px
}