.header-bg {
    background-color: var(--white);
    border-bottom: 3px solid var(--highlight);
}

.header {
    padding: 2rem 3.7rem;
}

.nav-bar {
    width: 100%;
    position: relative;
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-between;
    background-color: var(--white);
}

.logo {
    display: flex;
    gap: 5.9rem;
    align-items: center;
}

.header-menu {
    display: flex;
    gap: 2.5rem;
}

.menu-desktop {
    display: flex;
    align-items: center;
}

.menu-mobile-hamburguer {
    display: none;
}

.menu-navbar .header-menu-day {
    display: flex;
    align-items: center;
    gap: 0.6rem;
    margin-right: 3rem;
    cursor: pointer;
}

.menu-navbar .group-icon {
    display: flex;
    align-items: center;
    gap: 3rem;
}

.menu-navbar .group-icon img {
    cursor: pointer;
}

.logo-mobile {
    display: none;
}

.menu {
    display: flex;
}

.menu li {
    padding-left: 3rem;
}

.menu li a {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    transition: 0.15s ease-in-out;
    position: relative;
    text-transform: uppercase;
}

.menu li a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: var(--white);
    transition: 0.15s ease-in-out;
}

.open-menu,
.close-menu {
    position: absolute;
    cursor: pointer;
    font-size: 1.5rem;
    display: none;
}

.logo-mobile {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 3.7rem;
    margin-top: 2rem;
}

.close-menu {
    top: 0px;
    right: 0px;
    margin-right: 3.7rem;
    margin-top: 2rem;
}

.open-menu {
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

.menu-hamburger-open {
    display: none;
}

.menu-right {
    display: none;
}

.mobile-navbar {
    border-top: 3px solid var(--accent);
}

@media(max-width: 810px) {
    .menu-desktop {
        display: none;
    }

    .menu-right {
        display: flex;
        gap: 2rem;
    }

    .menu-right .group-icon {
        display: flex;
        gap: 1.6rem;
    }

    .menu-right .group-icon img {
        width: 24px;
        height: 24px;
        cursor: pointer;
    }

    .menu-hamburger-open {
        display: flex;
        align-items: center;
        cursor: pointer;
    }

    .menu-hamburger-open i {
        font-size: 1.8rem;
    }

    .header-menu {
        display: none;
    }

    .logo-mobile {
        display: block;
    }

    .menu {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 100;
        background-color: var(--dark);
        transition: all 0.2s ease-in-out;
    }

    .menu li {
        margin-top: 4rem;
    }

    .menu li a {
        padding: 1rem;
    }

    .open-menu,
    .close-menu {
        display: block;
    }

    .mobile-navbar {
        right: 0;
        overflow: auto;
    }

    .mobile-navbar .menu-mobile-hamburguer {
        display: block;
    }

    .mobile-navbar .menu-mobile-hamburguer .menu-mobile-header {
        position: absolute;
        top: 50px;
        left: 0;
        padding-left: 3.7rem;
        margin-top: 4.2rem;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }

    .mobile-navbar .menu-mobile-hamburguer .menu-mobile-header li {
        margin-top: 0;
        padding-left: 0;
    }

    .mobile-navbar .menu-mobile-hamburguer .menu-mobile-header li a {
        padding: 0;
        font: normal normal bold 15px/18px ArcherPro;
    }

    .mobile-navbar .menu-mobile-hamburguer .menu-mobile-header li a:hover {
        filter: brightness(0.8);
    }

    .mobile-navbar .menu-mobile-hamburguer .border {
        position: absolute;
        top: 200px;
        left: 0;
        height: 2px;
        background-color: var(--light-gray);
        margin-left: 3.7rem;
        margin-right: 3.7rem;
        margin-top: 4rem;
        width: -webkit-fill-available;
    }

    .mobile-navbar .menu-mobile-hamburguer .menu-mobile-more-links {
        position: absolute;
        top: 240px;
        left: 0;
        margin-top: 4.4rem;
        margin-left: 3.7rem;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        padding-bottom: 2rem;
    }

    .mobile-navbar .menu-mobile-hamburguer .menu-mobile-more-links .menu-mobile-dropdown a {
        display: flex;
        gap: 0.9rem;
        cursor: pointer;
    }

    .mobile-navbar .menu-mobile-hamburguer .menu-mobile-more-links a:hover {
        filter: brightness(1.2);
    }

    .mobile-navbar .menu-mobile-hamburguer .menu-mobile-more-links .menu-mobile-dropdown .dropdown {
        display: none;
    }

    .mobile-navbar .menu-mobile-hamburguer .menu-mobile-more-links .menu-mobile-dropdown .dropdown.show {
        display: block;
    }

    .mobile-navbar .menu-mobile-hamburguer .menu-mobile-more-links .menu-mobile-dropdown .dropdown ul {
        gap: 2.7rem;
        display: flex;
        flex-direction: column;
        background-color: var(--black);
        padding: 3.2rem 2.8rem;
        border-radius: 1rem;
        margin-right: 3.7rem;
        margin-top: 2.4rem;
        margin-bottom: 0.9rem;
        align-items: center;
    }

    .mobile-navbar .menu-mobile-hamburguer .menu-mobile-more-links li {
        margin-top: 0;
        padding-left: 0;
    }

    .mobile-navbar .menu-mobile-hamburguer .menu-mobile-more-links li a {
        padding: 0;
    }
}

@media(max-width: 350px) {
    .header-bg .header .nav-bar .logo {
        gap: 1rem;
    }
}