.nerdweb {
    margin-bottom: 7.5rem;
    border-bottom: 0.5rem solid var(--highlight);
}

.nerdweb img {
    background-position: center;
    background-size: cover;
    object-fit: cover;
}

.nerdweb img:last-child {
    display: none;
}

@media(max-width: 810px) {
    .nerdweb {
        margin-bottom: 2.4rem;
    }

    .nerdweb img:first-child {
        display: none;
    }

    .nerdweb img:last-child {
        display: block;
    }
}