.produtos h2 {
  text-align: center;
  color: #033244;
  margin-bottom: 40px;
  margin-top: 70px;
}

.produtos h2 span {
  color: #00AEEF;
}

.produtos .container .slider {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  margin-bottom: 40px;
}

.produtos button {
  text-align: center;
  margin: auto;
  margin-top: 40px;
  padding: 10px 35px;
  background-color: #71D8FF;
  color: #033244;
  text-transform: uppercase;
  margin-bottom: 80px;
  border: none;
}