.servicos {
    padding: 0 3.7rem;
}

.servicos h2 {
    text-align: center;
    color: #2C3A2F;
    margin-bottom: 1rem;
}

.servicos .selecao {
    text-align: center;
    color: #0089BC;
    margin-bottom: 4rem;
}

.servicos-card {
    display: flex;
    margin-bottom: 7.6rem;
    gap: 2.4rem;
    list-style: none;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
}

.card .content {
    background-color: #283137;
    padding: 2.4rem;
}

.card .content h3 {
    color: #FFFFFF;
    margin-bottom: 1.6rem;
}

.card .content p {
    color: #E2F7FF;
    margin-bottom: 4rem;
}

.card .content a {
    color: #00AEEF;
    text-transform: uppercase;
    transition: all .2s;
}

.card .content a:hover {
    filter: brightness(1.2);
}

@media(max-width: 900px) {
    .servicos-card {
        margin-bottom: 6.0rem;
    }

    .servicos-card .card {
        display: flex;
        flex-direction: column;
        transition: all 0.2s;
        flex: 0 0 100%;
        margin-bottom: 1.6rem;
    }
}

@media(max-width: 600px) {
    .card .content {
        padding: 3.2rem 2rem;
    }

    .card .content h3 {
        margin-bottom: 1.2rem;
    }
}