.servicos h2 {
    text-align: center;
    color: #2C3A2F;
    margin-bottom: 10px;
}

.servicos .selecao {
    text-align: center;
    color: #0089BC;
    margin-bottom: 40px;
}

.servicos-card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    margin-bottom: 76px;
}

.card .content {
    background-color: #283137;
    padding: 24px;
}

.card .content h3 {
    color: #FFFFFF;
    opacity: 1;
    margin-bottom: 16px;
}

.card .content p {
    letter-spacing: 0px;
    color: #E2F7FF;
    margin-bottom: 40px;
}

.card .content a {
    letter-spacing: 0px;
    color: #00AEEF;
    text-transform: uppercase;
    opacity: 1;
}