.time {
  margin-bottom: 80px;
}

.time-bg {
  background: url('/imgs/bg\ time.png');
  background-position: center;
  background-size: cover;
}

.time-bg div {
  padding: 71px 0 100px 109px;
}

.time-bg div h2 {
  color: #033244;
  padding-bottom: 24px;
  width: 611px;
}

.time-bg div p {
  width: 533px;
  color: #005271;
  margin-bottom: 60px;
}

@media(max-width: 750px) {
  .time {
    margin-bottom: 60px;
  }

  .time-bg {
    background-position: left;
    background-size: cover;
  }

  .time-bg div {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 40px 64px;
  }

  .time-bg div h2 {
    padding-bottom: 17px;
    width: 100%;
  }

  .time-bg div p {
    margin-bottom: 32px;
    width: 100%;
  }
}

@media(max-width: 450px) {
  .time-bg h2 {
      font: normal normal 900 24px/26px Roboto Slab;
  }

  .time-bg p {
      font: normal normal 500 18px/20px Roboto Slab;
  }

  .time-bg div {
      padding: 40px 20px;
  }
}