.visao-bg {
    background: url('/imgs/BG\ CONHEÇA.png');
    height: 399px;
    background-position: center;
    background-size: cover;
}

.visao-bg div {
    margin-left: 109px;
}

.visao-bg h1 {
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    width: 551px;
    padding-top: 71px;
    padding-bottom: 16px;
}

.visao-bg p {
    width: 607px;
    letter-spacing: 0px;
    color: #71D8FF;
    opacity: 1;
    padding-bottom: 50px;
}

.visao-bg button {
    padding: 10px 35px;
    background-color: #0089BC;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
    border: none;
}
