.visao {
    margin-bottom: 8rem;
}

.visao-bg {
    background: url('../../imgs/conheça.png');
    background-position: center;
    background-size: cover;
}

.visao-bg div {
    padding: 7.1rem 0 10rem 10.9rem;
}

.visao-bg h1 {
    color: #FFFFFF;
    width: 551px;
    padding-bottom: 1.6rem;
}

.visao-bg p {
    width: 607px;
    color: #71D8FF;
    margin-bottom: 4rem;
}

@media(max-width: 750px) {
    .visao {
        margin-bottom: 3.2rem;
    }

    .visao-bg div {
        padding: 4rem 6.4rem;
    }

    .visao .visao-bg div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .visao-bg h1 {
        width: 100%;
    }

    .visao-bg p {
        width: 100%;
    }

    .visao-bg h1 {
        padding-bottom: 1.5rem;
    }

    .visao-bg p {
        margin-bottom: 3.2rem;
    }
}

@media(max-width: 450px) {
    .visao-bg h1 {
        font: normal normal 900 2.4rem/2.6rem Roboto Slab;
    }

    .visao-bg p {
        font: normal normal 500 1.8rem/2rem Roboto Slab;
    }

    .visao-bg div {
        padding: 4rem 2rem;
    }
}
